@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Patrick+Hand&family=Sanchez&display=swap');

/* 

font-family: 'Merienda', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Sanchez', serif;

 */

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-image: url(./assest/Up.svg);
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
  }
html{
  scroll-behavior: smooth;
}
  #body{
         background-color:#121212; 
         /* background-color:#2d2d2d; */
        /* background-color:#0c2026 ; */

}

#navbar{
  overflow: hidden;
  position: fixed;
  background-color: #121212;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
      #webnav { display:none;}
  }

  #selfbg{
      border-radius: 50px;
      box-shadow:  27px 27px 10px #0f0f0f,
                   -27px -27px 10px #151515;
  }


.color1{
    font-size: 72px;
    background: -webkit-linear-gradient( #34e89e, #0f3443);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color2{
  background: -webkit-linear-gradient( #34e89e, #0f3443);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#font{
  font-family: 'Merienda';
  font-weight: 700;

}
#font1{
  /* font-family: 'Patrick Hand'; */
  font-family: 'Sanchez', serif;

}






